.timer
{
    position: absolute;
    top: 75%;
}

.wrapper
{
    display: flex;
    align-items: center;
    justify-content:space-around;
    color: white;
    font-size: larger;
    font-weight: bold;
}